In [1]:
import pandas as pd
f=pd.read_csv("annual-enterprise-survey-2021-financial-year-provisional-csv.csv")

C:\Users\Hp\AppData\Local\Temp\ipykernel_2556\3278548089.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
f

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [3]:
dict={
    'anjan':['a','b','c'],
    'number':[99,67,90]}
df=pd.DataFrame(dict)
df

  anjan  number
0     a      99
1     b      67
2     c      90

In [4]:
df.shape

(3, 2)

In [5]:
rows,col=df.shape

In [6]:
df.head()

  anjan  number
0     a      99
1     b      67
2     c      90

In [7]:
df.head(2)

  anjan  number
0     a      99
1     b      67

In [8]:
df.tail(2)

  anjan  number
1     b      67
2     c      90

In [ ]:
df[1:2]

  anjan  number
1     b      67

In [10]:
df[:]

  anjan  number
0     a      99
1     b      67
2     c      90

In [11]:
df.columns

Index(['anjan', 'number'], dtype='object')

In [12]:
df.anjan
# or
df['anjan']

0    a
1    b
2    c
Name: anjan, dtype: object

In [13]:
type(df['number'])
# basically columns in pandas dataframe are series

pandas.core.series.Series

In [14]:
df[['anjan','number']]

  anjan  number
0     a      99
1     b      67
2     c      90

In [15]:
f

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [16]:
f['Year'].std()

2.582019845995168

In [17]:
f.describe()#displays stats #only on integer like columns

              Year
count  41715.00000
mean    2017.00000
std        2.58202
min     2013.00000
25%     2015.00000
50%     2017.00000
75%     2019.00000
max     2021.00000

In [18]:
f[f.Year>=2014]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2014,Level 3,ZZ11,Food Product Manufacturing,Percentage,H37,Quick ratio,Financial ratios,50,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2014,Level 3,ZZ11,Food Product Manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2014,Level 3,ZZ11,Food Product Manufacturing,Percentage,H39,Return on equity,Financial ratios,4,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2014,Level 3,ZZ11,Food Product Manufacturing,Percentage,H40,Return on total assets,Financial ratios,2,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2014,Level 3,ZZ11,Food Product Manufacturing,Percentage,H41,Liabilities structure,Financial ratios,44,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [19]:
f[f.Year==f.Year.max()]#give rows that have max year
# if it contains space use f[f['Year']==f['Year'].max()]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
4630,2021,Level 3,ZZ11,Food Product Manufacturing,Percentage,H37,Quick ratio,Financial ratios,77,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4631,2021,Level 3,ZZ11,Food Product Manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,27,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4632,2021,Level 3,ZZ11,Food Product Manufacturing,Percentage,H39,Return on equity,Financial ratios,9,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4633,2021,Level 3,ZZ11,Food Product Manufacturing,Percentage,H40,Return on total assets,Financial ratios,4,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4634,2021,Level 3,ZZ11,Food Product Manufacturing,Percentage,H41,Liabilities structure,Financial ratios,45,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [20]:
f['Industry_code_NZSIOC'][f.Year==f.Year.max()]

0       99999
1       99999
2       99999
3       99999
4       99999
        ...
4630     ZZ11
4631     ZZ11
4632     ZZ11
4633     ZZ11
4634     ZZ11
Name: Industry_code_NZSIOC, Length: 4635, dtype: object

In [ ]:
f['Industry_code_NZSIOC'][f.Year==f.Year.max()]

In [21]:
f[['Year','Industry_code_NZSIOC']][f.Year==f.Year.max()]

      Year Industry_code_NZSIOC
0     2021                99999
1     2021                99999
2     2021                99999
3     2021                99999
4     2021                99999
...    ...                  ...
4630  2021                 ZZ11
4631  2021                 ZZ11
4632  2021                 ZZ11
4633  2021                 ZZ11
4634  2021                 ZZ11

[4635 rows x 2 columns]

In [22]:
#search pandas series operations on google for more functions like min,max etc

In [23]:
df

  anjan  number
0     a      99
1     b      67
2     c      90

In [24]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [28]:
f.set_index('Year')#does not modify original dataframe

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [31]:
f.set_index('Year',inplace=True)

In [32]:
f

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [34]:
f.loc[2013]

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
2013,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"5,41,042",ANZSIC06 divisions A-S (excluding classes K633...
2013,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"4,73,662",ANZSIC06 divisions A-S (excluding classes K633...
2013,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"53,770",ANZSIC06 divisions A-S (excluding classes K633...
2013,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"13,610",ANZSIC06 divisions A-S (excluding classes K633...
2013,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"4,88,612",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [48]:
f.reset_index(inplace=True)#resets index to original

In [45]:
f

,Industry_name_NZSIOC,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,All industries,2021,Level 1,99999,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,All industries,2021,Level 1,99999,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,All industries,2021,Level 1,99999,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,All industries,2021,Level 1,99999,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,All industries,2021,Level 1,99999,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,Food product manufacturing,2013,Level 3,ZZ11,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,Food product manufacturing,2013,Level 3,ZZ11,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,Food product manufacturing,2013,Level 3,ZZ11,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,Food product manufacturing,2013,Level 3,ZZ11,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,Food product manufacturing,2013,Level 3,ZZ11,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [46]:
f.set_index('Industry_name_NZSIOC',inplace=True)#u can use any column sort of like hash function where using that column as a hash key , u can get values associated with it.

In [47]:
f

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Industry_name_NZSIOC,,,,,,,,,
All industries,2021,Level 1,99999,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
All industries,2021,Level 1,99999,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
All industries,2021,Level 1,99999,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
All industries,2021,Level 1,99999,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
All industries,2021,Level 1,99999,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
Food product manufacturing,2013,Level 3,ZZ11,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Food product manufacturing,2013,Level 3,ZZ11,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Food product manufacturing,2013,Level 3,ZZ11,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Food product manufacturing,2013,Level 3,ZZ11,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Food product manufacturing,2013,Level 3,ZZ11,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [49]:
f.reset_index(inplace=True)

DIFFERENT WAYS OF CREATING DATAFRAME

In [ ]:
#USING read_csv
#using dictionary

In [2]:
#Excel file
df1=pd.read_excel("Book1.xlsx",'Sheet1')

C:\Users\Hp\AppData\Local\Temp\ipykernel_10588\2561804781.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df1

   id    name  marks
0   1   anjan     90
1   2    nonu     95
2   3  rajbir    100

In [5]:
#using tuples list
data=[
    (1,'anjan',90),
    (2,'nonu',95)
]

In [7]:
df=pd.DataFrame(data,columns=['id','name','marks'])

In [8]:
df

   id   name  marks
0   1  anjan     90
1   2   nonu     95

In [10]:
#using dictionaries list
data=[
    {'id':1,'name':'anjan'},
     {'id':2,'name':'nonu'}
]

In [14]:

df2=pd.DataFrame(data)
df2

   id   name
0   1  anjan
1   2   nonu

In [ ]:
#google pandas io : take u to pandas documentation where u can see how to read dataframe from various sources

In [ ]:
#read csv